<!DOCTYPE html>
<html>
<head>
	<title>Camagru</title>
<!--	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css"> -->
</head>
<body>
<div class="container">
	 <div class="header clearfix">
       <nav>
       	  <ul class="nav">
	         <li role="presentation" class="nav-item">
	         	<a class="nav-link active" href="/">Home</a>
	         </li>
	         
	         <li role="presentation" class="nav-item">
	         	<a class="nav-link"><a href="/users/login">Login</a>
	         </li>
	         
	         <li role="presentation" class="nav-item"><a class="nav-link"><a href="/users/register">Register</a>
	         </li>
	         
	         <li role="presentation" class="nav-item"><a class="nav-link"><a href="users/logout">Logout</a>
	         </li>

          </ul>
         </nav>
	   <h3 class="text-muted">Camagru</h3>
	 </div>
		<div class="row">
          <div class="col-lg-6">
            {{{body}}}
          </div>  
        </div>
      <footer class="footer">
        <p>&copy; tshata</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>