<h2 class="page-header">Gallery</h2>
<p>Welcome</p>


<div class="bg-light align-center">
	<div class="container-fluid">
		<div class="row">
			<div class="card p-1">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top tlase" src="../../images/images.png" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">This is the comment section. No comments have been posted yet.</p>
					</div>
				</div>
			</div>

				<div class="card p-1">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top tlase" src="../../images/images.png" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">This is the comment section. No comments have been posted yet.</p>
					</div>
				</div>
			</div>
				<div class="card p-1">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top tlase" src="../../images/images.png" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">This is the comment section. No comments have been posted yet.</p>
					</div>
				</div>
			</div>
				<div class="card p-1">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top tlase" src="../../images/images.png" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">This is the comment section. No comments have been posted yet.</p>
					</div>
				</div>
			</div>
				<div class="card p-1">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top tlase" src="../../images/images.png" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">This is the comment section. No comments have been posted yet.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
