<h2 class="page-header">Gallery</h2>
<p>Welcome</p>


<body class="container">
    
    <div class="row">
    	<div class="card card-body col-md-6">
      <ul class="thumbnails">
      {{#each elements}}
        <li class="card card-body col-md-6"><a class="thumbnail" href="{{permalink}}" target="_blank"><img src="{{public.images.src}}" title="{{data.image.caption}}" /></a></li>
      {{/each}}
      </ul>
    </div>
    </div>
  </body>
 