 <h2 class="page-header">Login</h2>
 <div>
 	<form class="form-group" method="post" action="login">
 		<label>Username</label>
 		<input type="text" id="login" class="form-control" name="username" placeholder="Username">
 		<div class="form-group">
 			<label>Password</label>
 			<input type="password" id="password" class="form-control" name="password" placeholder="Password">
 		</div>
 		<button type="submit" class="btn btn-primary" value="Login">Submit</button>
 		<button class="btn btn-light"> <a href="/auth/google">Sign In with Google</a> </button>
 	</form>
 </div>

