 <h2 class="page-header">Login</h2>
<div>
 <form class="form-group" method="post" action="login">
 	<label>Username</label>
      <input type="text" id="login" class="form-control" name="username" placeholder="Username">
      <label>Password</label>
      <input type="password" id="password" class="form-control" name="password" placeholder="Password">
     <input type="submit" class="btn btn-default" value="Login">
</form>
</div>

