 <h2 class="page-header">Login</h2>
 <form method="post" action="users/login">
 <form class="form-group">
 	<label>Username</label>
      <input type="text" id="login" class="form-control" name="login" placeholder="Username">
      <input type="text" id="password" class="form-control" name="login" placeholder="Password">
      <button><type="submit" class="btn btn-default" value="Submit"></button>
</form>
